pip~=22.0.4
attrs~=23.1.0
idna~=3.4
multidict~=6.0.4
yarl~=1.9.2
aiohttp~=3.9.0
aiosignal~=1.3.1
frozenlist~=1.4.0
certifi~=2023.11.17
urllib3~=2.1.0
setuptools~=58.1.0
requests~=2.31.0
h11~=0.14.0
anyio~=3.7.1
sniffio~=1.3.0
fastapi~=0.104.1
starlette~=0.27.0
pydantic~=2.5.1
click~=8.1.7
uvicorn~=0.24.0.post1